/* 设置全局字体 */
body {
    font-family:华文新魏, sans-serif; /* 使用 Arial 字体作为首选字体，如果不可用，则使用 sans-serif 字体 */
    font-size: 16px; /* 设置文字大小为16像素 */
    color: blue;
}
/* 设置边框+默认字体 */
.bian_kuan {
    font-family:华文新魏, sans-serif; /* 设置默认字体 */
    color: red;
    font-size: 12px;
    padding: 10px;
    height: 240px;
    width:460px;
    text-align: center;
    background-color:rgba(255,255,255,0.85);
    border-radius: 10px;
    /*设置边框的位置*/
    position: relative;
    top: 30px;
    left: 40px;

}
/* 设置边框+默认字体 */
.RED {
    font-family:华文新魏, sans-serif; /* 设置默认字体 */
    color: red;
    font-size: 12px;

}


